<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShortUrl</title>
</head>
<body>

    <a href="<%= newShort.short %>"><%= newShort.short %></a>
    <br>
    <a href="/">HOME</a>

</body>
</html>